ANTHROPIC_API_KEY=your_anthropic_api_key_here
MONGODB_URI=string_you_use_in_cvbackend
RESEND_API_KEY=your_resend_api_key_here
NOTIFY_EMAIL=theconnectventures.com
FROM_EMAIL=Connect Ventures Bot
PORT=5000
